{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - NewsActu{% endblock %}

{% block body %}


    <h1 class="text-center my-4">Hello {{ controller_name }}! ✅</h1>

 <div class="row">
    <div class="col-6 mx-auto">
        {% include 'include/flashes.html.twig' %}
    </div>
 </div>
 
{% endblock %}
